<h4>Post details</h4>


<p>
<%= @row['content'] %>	
</p>
Add to <%= @row['created_date'] %><br />

<br />

<h4>Comments:</h4>

<% @comments.each do |comment| %>
<p>
	<%= comment['content'] %><br />
	<span style="font-size: 75%; color: #999;">
		Add to <%= comment['created_date'] %></span>
	</span>

</p>
<hr />
<% end %>

<form action="/details/<%= @row['id'] %>" method="POST">
<div class="form-floating">
  <textarea name="content" class="form-control" placeholder="Type post text here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Send Post</label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>